CS2205-01/wk-0x06/bookstore_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!-- Root element: catalog -->
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="bookType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Book type definition -->
    <xs:complexType name="bookType">
        <xs:sequence>
            <xs:element name="title" type="titleType"/>
            <xs:element name="author" type="authorType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="available" type="xs:boolean" use="required"/>
    </xs:complexType>
    
    <!-- Title type definition -->
    <xs:complexType name="titleType">
        <xs:sequence>
            <xs:element name="publicationYear" type="xs:integer"/>
        </xs:sequence>
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- Author type definition -->
    <xs:complexType name="authorType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema> 